.roxie-theme-ios {
  @import 'theme-ios/variables';
  @import 'theme-base/theme';

  // Body

  body {
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #ddd), color-stop(0%, #ccc));
    background-image: -webkit-linear-gradient(top, #ddd, #ccc);
    background-image: -moz-linear-gradient(top, #ddd, #ccc);
    background-image: -o-linear-gradient(top, #ddd, #ccc);
    background-image: -ms-linear-gradient(top, #ddd, #ccc);
    background-image: linear-gradient(top, #ddd, #ccc);
  }

  // Typography

  fieldset { border: 1px solid #b5b8c8; }

  // Tables

  .table {
    thead, .table-header {
      background-color: #c5c5c5;
      background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #f9f9f9), color-stop(0%, #e6e3e3));
      background-image: -webkit-linear-gradient(top, #f9f9f9, #e6e3e3);
      background-image: -moz-linear-gradient(top, #f9f9f9, #e6e3e3);
      background-image: -o-linear-gradient(top, #f9f9f9, #e6e3e3);
      background-image: -ms-linear-gradient(top, #f9f9f9, #e6e3e3);
      background-image: linear-gradient(top, #f9f9f9, #e6e3e3);
    }
    tbody, .table-body {
      background-color: #fafafa;
    }
  }
  .table-bordered {
    border: 1px solid $border-color;
    th, td {
      border: 1px solid $border-color;
    }
    .table-cell {
      border-right: 1px solid $border-color;
      &:last-child { border-right: 0; }
    }
    .table-row {
      border-bottom: 1px solid $border-color;
      &:last-child { border-bottom: 0; }
    }
    thead th, .table-header .table-cell { border-bottom: 1px solid $border-color; }
  }
  .table-striped {
    tbody tr:nth-of-type(odd), .table-body .table-row:nth-of-type(odd) {
      background-color: $white;
    }
  }
  @each $color, $value in $theme-colors {
    .table-#{$color} {
      &, > th, > td {
        color: $body-color;
        background-color: #e0e0e0;
      }
    }
  }
  .table-active {
    &, > th, > td {
      background-color: #e0e0e0;
    }
  }
  .table-hover {
    tbody tr:hover, .table-body .table-row:hover {
      color: $body-color;
      background-color: #efefef;
    }
    @each $color, $value in $theme-colors {
      .table-#{$color} {
        &:hover {
          color: $body-color;
          background-color: #e0e0e0;
          > th, > td {
            color: $body-color;
            background-color: #e0e0e0;
          }
        }
      }
    }
    .table-active {
      &:hover {
        background-color: #e0e0e0;
        > th, > td {
          background-color: #e0e0e0;
        }
      }
    }
  }

  // Buttons

  .btn-default,
  .btn-default:not(:disabled):not(.disabled):hover,
  .btn-default:not(:disabled):not(.disabled):focus {
    color: #7f7f7f;
    border-color: #adaead;
    background-color: #fcfcfc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#c9c9c9));
    background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #c9c9c9 100%);
    background-image: -moz-linear-gradient(top, #fcfcfc 0%, #c9c9c9 100%);
    background-image: -o-linear-gradient(top, #fcfcfc 0%, #c9c9c9 100%);
    background-image: -ms-linear-gradient(top, #fcfcfc 0%, #c9c9c9 100%);
    background-image: linear-gradient(top, #fcfcfc 0%, #c9c9c9 100%);
    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
      color: $white;
      border-color: #375074;
      background-color: #376fd4;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#376fd4), color-stop(49%,#417fe7), color-stop(50%,#4c88e9), color-stop(100%,#73a8fb));
      background-image: -webkit-linear-gradient(top, #376fd4 0%, #417fe7 49%, #4c88e9 50%, #73a8fb 100%);
      background-image: -moz-linear-gradient(top, #376fd4 0%, #417fe7 49%, #4c88e9 50%, #73a8fb 100%);
      background-image: -o-linear-gradient(top, #376fd4 0%, #417fe7 49%, #4c88e9 50%, #73a8fb 100%);
      background-image: -ms-linear-gradient(top, #376fd4 0%, #417fe7 49%, #4c88e9 50%, #73a8fb 100%);
      background-image: linear-gradient(top, #376fd4 0%, #417fe7 49%, #4c88e9 50%, #73a8fb 100%);
    }
  }
  .btn-primary, .btn-outline-primary,
  .btn-primary:not(:disabled):not(.disabled):hover,
  .btn-primary:not(:disabled):not(.disabled):focus,
  .btn-outline-primary:not(:disabled):not(.disabled):hover,
  .btn-outline-primary:not(:disabled):not(.disabled):focus {
    color: $white;
    border-color: #375074;
    background-color: #376fe0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#376fe0), color-stop(49%,#376fe0), color-stop(50%,#2361de), color-stop(100%,#2463de));
    background-image: -webkit-linear-gradient(top, #376fe0 0%, #376fe0 49%, #2361de 50%, #2463de 100%);
    background-image: -moz-linear-gradient(top, #376fe0 0%, #376fe0 49%, #2361de 50%, #2463de 100%);
    background-image: -o-linear-gradient(top, #376fe0 0%, #376fe0 49%, #2361de 50%, #2463de 100%);
    background-image: -ms-linear-gradient(top, #376fe0 0%, #376fe0 49%, #2361de 50%, #2463de 100%);
    background-image: linear-gradient(top, #376fe0 0%, #376fe0 49%, #2361de 50%, #2463de 100%);
  }
  .btn-secondary, .btn-outline-secondary,
  .btn-secondary:not(:disabled):not(.disabled):hover,
  .btn-secondary:not(:disabled):not(.disabled):focus,
  .btn-outline-secondary:not(:disabled):not(.disabled):hover,
  .btn-outline-secondary:not(:disabled):not(.disabled):focus {
    color: $white;
    border-color: #375074;
    background-color: #b0bccd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0bccd), color-stop(50%,#889bb3), color-stop(51%,#8094ae), color-stop(100%,#6d84a2));
    background-image: -webkit-linear-gradient(top, #b0bccd 0%, #889bb3 50%, #8094ae 51%, #6d84a2 100%);
    background-image: -moz-linear-gradient(top, #b0bccd 0%, #889bb3 50%, #8094ae 51%, #6d84a2 100%);
    background-image: -o-linear-gradient(top, #b0bccd 0%, #889bb3 50%, #8094ae 51%, #6d84a2 100%);
    background-image: -ms-linear-gradient(top, #b0bccd 0%, #889bb3 50%, #8094ae 51%, #6d84a2 100%);
    background-image: linear-gradient(top, #b0bccd 0%, #889bb3 50%, #8094ae 51%, #6d84a2 100%);
  }
  .btn-success, .btn-outline-success,
  .btn-success:not(:disabled):not(.disabled):hover,
  .btn-success:not(:disabled):not(.disabled):focus,
  .btn-outline-success:not(:disabled):not(.disabled):hover,
  .btn-outline-success:not(:disabled):not(.disabled):focus {
    color: $white;
    border-color: #451c1b;
    background-color: #7bbf81;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7bbf81), color-stop(49%,#31ab3b), color-stop(50%,#009e0f), color-stop(100%,#009a0c));
    background-image: -webkit-linear-gradient(top, #7bbf81 0%, #31ab3b 49%, #009e0f 50%, #009a0c 100%);
    background-image: -moz-linear-gradient(top, #7bbf81 0%, #31ab3b 49%, #009e0f 50%, #009a0c 100%);
    background-image: -o-linear-gradient(top, #7bbf81 0%, #31ab3b 49%, #009e0f 50%, #009a0c 100%);
    background-image: -ms-linear-gradient(top, #7bbf81 0%, #31ab3b 49%, #009e0f 50%, #009a0c 100%);
    background-image: linear-gradient(top, #7bbf81 0%, #31ab3b 49%, #009e0f 50%, #009a0c 100%);
  }
  .btn-danger, .btn-outline-danger,
  .btn-danger:not(:disabled):not(.disabled):hover,
  .btn-danger:not(:disabled):not(.disabled):focus,
  .btn-outline-danger:not(:disabled):not(.disabled):hover,
  .btn-outline-danger:not(:disabled):not(.disabled):focus {
    color: $white;
    border-color: #451c1b;
    background-color: #dc7679;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc7679), color-stop(49%,#dc7679), color-stop(50%,#cd2a27), color-stop(100%,#c92a29));
    background-image: -webkit-linear-gradient(top, #dc7679 0%,#dc7679 49%,#cd2a27 50%,#c92a29 100%);
    background-image: -moz-linear-gradient(top, #dc7679 0%, #dc7679 49%, #cd2a27 50%, #c92a29 100%);
    background-image: -o-linear-gradient(top, #dc7679 0%,#dc7679 49%,#cd2a27 50%,#c92a29 100%);
    background-image: -ms-linear-gradient(top, #dc7679 0%,#dc7679 49%,#cd2a27 50%,#c92a29 100%);
    background-image: linear-gradient(top, #dc7679 0%,#dc7679 49%,#cd2a27 50%,#c92a29 100%);
  }
  .btn-warning, .btn-outline-warning,
  .btn-warning:not(:disabled):not(.disabled):hover,
  .btn-warning:not(:disabled):not(.disabled):focus,
  .btn-outline-warning:not(:disabled):not(.disabled):hover,
  .btn-outline-warning:not(:disabled):not(.disabled):focus {
    color: $black;
    border-color: #451c1b;
    background-color: #e4d0a0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4d0a0), color-stop(49%,#efcd63), color-stop(50%,#f0be22), color-stop(100%,#f9dd24));
    background-image: -webkit-linear-gradient(top, #e4d0a0 0%, #efcd63 49%, #f0be22 50%, #f9dd24 100%);
    background-image: -moz-linear-gradient(top, #e4d0a0 0%, #efcd63 49%, #f0be22 50%, #f9dd24 100%);
    background-image: -o-linear-gradient(top, #e4d0a0 0%, #efcd63 49%, #f0be22 50%, #f9dd24 100%);
    background-image: -ms-linear-gradient(top, #e4d0a0 0%, #efcd63 49%, #f0be22 50%, #f9dd24 100%);
    background-image: linear-gradient(top, #e4d0a0 0%, #efcd63 49%, #f0be22 50%, #f9dd24 100%);
  }
  .btn-info, .btn-outline-info,
  .btn-info:not(:disabled):not(.disabled):hover,
  .btn-info:not(:disabled):not(.disabled):focus,
  .btn-outline-info:not(:disabled):not(.disabled):hover,
  .btn-outline-info:not(:disabled):not(.disabled):focus {
    color: $white;
    border-color: #375074;
    background-color: #89a0be;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89a0be), color-stop(50%,#5877a2), color-stop(51%,#486a9a), color-stop(100%,#4a6c9b));
    background-image: -webkit-linear-gradient(top, #89a0be 0%,#5877a2 50%,#486a9a 51%,#4a6c9b 100%);
    background-image: -moz-linear-gradient(top, #89a0be 0%,#5877a2 50%,#486a9a 51%,#4a6c9b 100%);
    background-image: -o-linear-gradient(top, #89a0be 0%,#5877a2 50%,#486a9a 51%,#4a6c9b 100%);
    background-image: -ms-linear-gradient(top, #89a0be 0%,#5877a2 50%,#486a9a 51%,#4a6c9b 100%);
    background-image: linear-gradient(top, #89a0be 0%,#5877a2 50%,#486a9a 51%,#4a6c9b 100%);
  }
  .btn-light, .btn-outline-light,
  .btn-light:not(:disabled):not(.disabled):hover,
  .btn-light:not(:disabled):not(.disabled):focus,
  .btn-outline-light:not(:disabled):not(.disabled):hover,
  .btn-outline-light:not(:disabled):not(.disabled):focus {
    color: $black;
    border-color: #375074;
    background-color: #ededee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededee), color-stop(49%,#cfd0d1), color-stop(50%,#bababb), color-stop(100%,#bdbfc2));
    background-image: -webkit-linear-gradient(top, #ededee 0%, #cfd0d1 49%, #bababb 50%, #bdbfc2 100%);
    background-image: -moz-linear-gradient(top, #ededee 0%, #cfd0d1 49%, #bababb 50%, #bdbfc2 100%);
    background-image: -o-linear-gradient(top, #ededee 0%, #cfd0d1 49%, #bababb 50%, #bdbfc2 100%);
    background-image: -ms-linear-gradient(top, #ededee 0%, #cfd0d1 49%, #bababb 50%, #bdbfc2 100%);
    background-image: linear-gradient(top, #ededee 0%, #cfd0d1 49%, #bababb 50%, #bdbfc2 100%);
  }
  .btn-dark, .btn-outline-dark,
  .btn-dark:not(:disabled):not(.disabled):hover,
  .btn-dark:not(:disabled):not(.disabled):focus,
  .btn-outline-dark:not(:disabled):not(.disabled):hover,
  .btn-outline-dark:not(:disabled):not(.disabled):focus {
    color: $white;
    border-color: #375074;
    background-color: #6a6a6a;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a6a6a), color-stop(49%,#313131), color-stop(50%,#000000), color-stop(100%,#000000));
    background-image: -webkit-linear-gradient(top, #6a6a6a 0%,#313131 49%,#000000 50%,#000000 100%);
    background-image: -moz-linear-gradient(top, #6a6a6a 0%,#313131 49%,#000000 50%,#000000 100%);
    background-image: -o-linear-gradient(top, #6a6a6a 0%,#313131 49%,#000000 50%,#000000 100%);
    background-image: -ms-linear-gradient(top, #6a6a6a 0%,#313131 49%,#000000 50%,#000000 100%);
    background-image: linear-gradient(top, #6a6a6a 0%,#313131 49%,#000000 50%,#000000 100%);
  }

  // Forms

  .form-control {
    color: $body-color;
    background-color: $white;
    border: 1px solid #b5b8c8;
    &:focus {
      border: 1px solid #a1a1a1;
    }
  }
  .form-control-plaintext { color: $body-color; }
  .input-group-text {
    color: $body-color;
    background-color: $component-cap-bg;
    border: 1px solid $border-color;
  }

  // Cards

  @mixin card-header-variant() {
    background-color: #b0bccd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0bccd), color-stop(49%,#889bb3), color-stop(50%,#8094ae), color-stop(100%,#6d84a2));
    background-image: -webkit-linear-gradient(top, #b0bccd 0%,#889bb3 49%,#8094ae 50%,#6d84a2 100%);
    background-image: -moz-linear-gradient(top, #b0bccd 0%, #889bb3 49%, #8094ae 50%, #6d84a2 100%);
    background-image: -o-linear-gradient(top, #b0bccd 0%,#889bb3 49%,#8094ae 50%,#6d84a2 100%);
    background-image: -ms-linear-gradient(top, #b0bccd 0%,#889bb3 49%,#8094ae 50%,#6d84a2 100%);
    background-image: linear-gradient(top, #b0bccd 0%,#889bb3 49%,#8094ae 50%,#6d84a2 100%);
  }
  .card-header {
    color: $white;
    @include card-header-variant();
  }
  .card-body {
    color: #4c596e;
  }
  @mixin card-footer-variant() {
    background-color: #2d2d2d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2d2d), color-stop(49%,#151515), color-stop(50%,#000000), color-stop(100%,#000000));
    background-image: -webkit-linear-gradient(top, #2d2d2d 0%, #151515 49%, #000000 50%, #000000 100%);
    background-image: -moz-linear-gradient(top, #2d2d2d 0%, #151515 49%, #000000 50%, #000000 100%);
    background-image: -o-linear-gradient(top, #2d2d2d 0%, #151515 49%, #000000 50%, #000000 100%);
    background-image: -ms-linear-gradient(top, #2d2d2d 0%, #151515 49%, #000000 50%, #000000 100%);
    background-image: linear-gradient(top, #2d2d2d 0%, #151515 49%, #000000 50%, #000000 100%);
  }
  .card-footer {
    color: $white;
    @include card-footer-variant();
  }
  @each $color, $value in $theme-colors {
    .card {
      &.bg-#{$color}, &.bg-outline-#{$color} {
        border: 1px solid $border-color;
        .card-header {
          color: $white;
          @include card-header-variant();
          border-bottom: 1px solid $border-color;
        }
        .card-footer {
          color: $white;
          @include card-footer-variant();
          border-top: 1px solid $border-color;
        }
        .card-body {
          color: #4c596e;
          background: #fff -webkit-radial-gradient(circle, #fff, #dee2e4);
        }
      }
    }
  }

  // Alerts

  @mixin alert-variant() {
    color: $body-color;
    border-color: #a9a9a9;
    background-color: #e8e8e8;
    .alert-link {
      color: $link-color;
    }
  }
  .alert-default {
    @include alert-variant();
  }
  @each $color, $value in $theme-colors {
    .alert-#{$color} {
      @include alert-variant();
    }
  }

  // Navs

  .nav-tabs {
    .nav-link {
      &:hover, &:focus {
        color: $body-color;
        background: #f0f0f0;
        border-color: #b5b5b5;
      }
      &.active {
        border-color: $border-color $border-color $default-bg;
      }
    }
  }

  // Dropdowns

  .dropdown-menu {
    color: #2f3e46;
    background-color: $white;
    border: 1px solid $border-color;
  }
  .dropdown-item {
    color: #2f3e46;
    &:hover, &:focus {
      color: $white;
      background-color: $component-active-bg;
    }
    &.active, &:active {
      color: $white;
      background-color: $component-active-bg;
    }
    &.disabled, &:disabled { color: $component-disabled-color; }
  }

  // List group

  @each $color, $value in $theme-colors {
    .list-group-item-#{$color} {
      color: #2f3e46;
      background-color: $white;
      &.list-group-item-action {
        &:hover, &:focus {
          color: $white;
          background-color: $component-active-bg;
        }
        &.active {
          color: $white;
          background-color: $component-active-bg;
        }
      }
    }
  }

  // Breadcrumbs

  .breadcrumb {
    background-color: #d8d8d8;
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0%, #e6e6e6), color-stop(0%, #efefef));
    background-image: -webkit-linear-gradient(top, #e6e6e6, #efefef);
    background-image: -moz-linear-gradient(top, #e6e6e6, #efefef);
    background-image: -o-linear-gradient(top, #e6e6e6, #efefef);
    background-image: -ms-linear-gradient(top, #e6e6e6, #efefef);
    background-image: linear-gradient(top, #e6e6e6, #efefef);
    border-bottom: 1px solid #bcb0b0;
    .breadcrumb-item {
      &:before {
        border-left: 1.5rem solid transparent;
        content: '\f0da';
        font: normal normal normal 14px/1 FontAwesome;
        margin-top: -20px;
        margin-left: -10px;
      }
      &:after { border-left: 1.5rem solid transparent; }
      &:last-child {
        &:before {
          content: none;
        }
      }
    }
  }

  // Utilities

  @each $color, $value in $theme-colors {
    .bg-#{$color} {
      background-color: $default-bg !important;
    }
  }

  .text-muted { color: $component-disabled-color !important; }

  .c3 {
    .c3-tooltip {
      background-color: $white;
      td { background-color: $white; }
    }
  }
}