@import 'theme-base/root';

.roxie-theme-light {
  @import 'theme-light/variables';
  @import 'roxie-theme-base';

  .navbar { background-color: $default-bg; }
  .navbar-brand { color: $body-color; font-weight: bold; }

  .btn-default { background-color: $default-bg; }

  .btn-outline-secondary {
    color: $body-color;
    &:disabled, &.disabled {
      color: $body-color;
    }
  }
  .btn-outline-light {
    color: $body-color;
    &:disabled, &.disabled {
      color: $body-color;
    }
  }
}