*:focus, *:active, *:read-only {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

body, input, textarea, select, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.breadcrumb {
  min-height: 3rem;
  max-height: 3rem;
  border-bottom: 1px solid $border-color;
  .breadcrumb-item {
    margin-top: .25rem;
    padding-left: 2rem;
    position: relative;
    &:first-child {
      padding-left: 0;
    }
    &:before {
      content: '';
      position: absolute;
      margin-top: -13px;
      margin-left: 1px;
      left: 100%;
      border-top: 1.5rem solid transparent;
      border-bottom: 1.5rem solid transparent;
      border-left: 1.5rem solid $border-color;
    }
    &:after {
      content: '';
      position: absolute;
      margin-top: -13px;
      left: 100%;
      border-top: 1.5rem solid transparent;
      border-bottom: 1.5rem solid transparent;
      border-left: 1.5rem solid $breadcrumb-bg;
    }
  }
}

.card { margin-bottom: 1rem; }
.accordion .card { margin-bottom: 0; }
@each $color, $value in $theme-colors {
  .card {
    &.bg-#{$color}, &.bg-outline-#{$color} {
      border: $card-border-width solid darken($value, 10%);
      .card-header {
        border-bottom: $card-border-width solid darken($value, 10%);
      }
      .card-footer {
        border-top: $card-border-width solid darken($value, 10%);
      }
    }
    &.bg-#{$color} {
      color: color-yiq($value);
      .card-header {
        background-color: darken($value, 5%);
      }
      .card-footer {
        background-color: darken($value, 5%);
      }
    }
    &.bg-outline-#{$color} {
      .card-header {
        color: color-yiq($value);
        background-color: $value;
      }
      .card-footer {
        color: color-yiq($value);
        background-color: $value;
      }
    }
  }
}

.dropdown-item { cursor: pointer; }

.form-control-file, .form-check, .custom-control {
  height: $input-height;
  padding-top: $input-padding-y;
  padding-bottom: $input-padding-y;
}

.navbar {
  height: 3rem;
  border-bottom: 1px solid $border-color;
}
.nav-link { cursor: pointer; }

.toast {
  color: $gray;
  .close {
    color: $gray;
  }
  .toast-header {
    color: $gray;
    font-weight: bold;
  }
  &.toast-success {
    background-color: $green !important;
    .toast-header {
      background-color: $green !important;
    }
  }
  &.toast-warning {
    background-color: $yellow !important;
    .toast-header {
      background-color: $yellow !important;
    }
  }
  &.toast-error {
    background-color: $red !important;
    .toast-header {
      background-color: $red !important;
    }
  }
}

.navbar {
  background-color: $default-bg;
}

.btn-default {
  background-color: $default-bg;
}

.btn-outline-secondary {
  color: $body-color;
  &:disabled, &.disabled {
    color: $body-color;
  }
}
.btn-outline-dark {
  color: $body-color;
  &:disabled, &.disabled {
    color: $body-color;
  }
}