@import 'theme-base/root';

.roxie-theme-dark {
  @import 'theme-dark/variables';
  @import 'roxie-theme-base';

  .navbar {
    background-color: $default-bg;
  }

  .btn-default {
    background-color: $default-bg;
  }

  .btn-outline-dark {
    color: $body-color;
    &:disabled, &.disabled {
      color: $body-color;
    }
  }
}