@import '../theme-base/variables';

// Bootstrap variable overrides

// Color system

$theme-colors: (
  "primary": $blue,
  "secondary": $gray-100,
  "success": $green,
  "danger": $red,
  "warning": $yellow,
  "info": $teal,
  "light": $gray,
  "dark": $gray-900,
);

// Body

$body-bg: $gray-100;
$body-color: $gray-dark;

// Components

$border-color: $gray-300;

// Breadcrumbs

$breadcrumb-bg: $white;

// Cards

$card-border-color: $border-color;
$card-cap-bg: $gray;