@import '../theme-base/variables';
@import '../theme-base/color/light';

// Custom variables

$default-bg: $white;

// Bootstrap variable overrides

// Color system

$theme-colors: (
  "primary": $blue,
  "secondary": $gray-300,
  "success": $green,
  "danger": $red,
  "warning": $yellow,
  "info": $teal,
  "light": $gray-100,
  "dark": $gray-900,
);

// Body

$body-bg: $gray-100;
$body-color: $gray-dark;

// Components

$border-color: $gray-300;

// Forms

$input-color: $body-color;
$input-bg: $default-bg;
$input-border-color: $border-color;

// Breadcrumbs

$breadcrumb-bg: $default-bg;

// Cards

$card-border-color: $border-color;
$card-cap-bg: rgba($black, .05);
$card-bg: $default-bg;

// Modals

$modal-content-color: $body-color;
$modal-content-bg: $default-bg;
$modal-content-border-color: $border-color;

// Navs

$nav-tabs-border-color: $border-color;
$nav-tabs-link-hover-border-color: $border-color $border-color $nav-tabs-border-color;
$nav-tabs-link-active-color: $body-color;
$nav-tabs-link-active-bg: $default-bg;
$nav-tabs-link-active-border-color: $border-color $border-color $nav-tabs-link-active-bg;

// Dropdowns

$dropdown-bg: $default-bg;
$dropdown-border-color: $border-color;
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $body-color;
$dropdown-link-hover-bg: $gray;

// Close

$close-color: $body-color;

// Code

$pre-color: $body-color;