*:focus, *:active, *:read-only {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

body, input, textarea, select, button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.breadcrumb {
  min-height: 3rem;
  max-height: 3rem;
  border-bottom: 1px solid $border-color;
  .breadcrumb-item {
    margin-top: .25rem;
    padding-left: 2rem;
    position: relative;
    &:first-child {
      padding-left: 0;
    }
    &:before {
      content: '';
      position: absolute;
      margin-top: -13px;
      margin-left: 1px;
      left: 100%;
      border-top: 1.5rem solid transparent;
      border-bottom: 1.5rem solid transparent;
      border-left: 1.5rem solid $border-color;
    }
    &:after {
      content: '';
      position: absolute;
      margin-top: -13px;
      left: 100%;
      border-top: 1.5rem solid transparent;
      border-bottom: 1.5rem solid transparent;
      border-left: 1.5rem solid $breadcrumb-bg;
    }
  }
}

@each $color, $value in $theme-colors {
  .card {
    &.bg-#{$color} {
      color: color-yiq($value);
    }
  }
}

.dropdown-item { cursor: pointer; }

.form-control-file, .form-check, .custom-control {
  height: $input-height;
  padding-top: $input-padding-y;
  padding-bottom: $input-padding-y;
}

.navbar {
  height: 3rem;
  border-bottom: 1px solid $border-color;
  background-color: $body-bg;
}
.nav-link { cursor: pointer; }

.list-group-item-action {
  cursor: pointer;
}

.flex-fill {
  flex: 1 1 0% !important;
}