@import 'functions';

// Body

body {
  color: $body-color;
  background-color: $body-bg;
}

// Links

a {
  color: $link-color;
  &:hover { color: $link-hover-color; }
}

// Typography

fieldset { border: 1px solid $border-color; }

// Tables

.table {
  color: $body-color;
  thead, .table-header { background-color: $component-cap-bg; }
}
.table-bordered {
  border: 1px solid $border-color;
  th, td {
    border: 1px solid $border-color;
  }
  .table-cell {
    border-right: 1px solid $border-color;
    &:last-child { border-right: 0; }
  }
  .table-row {
    border-bottom: 1px solid $border-color;
    &:last-child { border-bottom: 0; }
  }
  thead th, .table-header .table-cell { border-bottom: 1px solid $border-color; }
}
.table-striped {
  tbody tr:nth-of-type(odd), .table-body .table-row:nth-of-type(odd) {
    background-color: $component-accent-bg;
  }
}
@each $color, $value in $theme-colors {
  .table-#{$color} {
    &, > th, > td {
      color: color-level($value, 6);
      background-color: color-level($value, -9);
    }
  }
}
.table-active {
  &, > th, > td {
    background-color: $border-color;
  }
}
.table-hover {
  tbody tr:hover, .table-body .table-row:hover {
    color: $body-color;
    background-color: $component-hover-bg;
  }
  @each $color, $value in $theme-colors {
    $background: color-level($value, -9);
    $hover-background: darken($background, 5%);
    $table-color: color-level($value, 6);
    .table-#{$color} {
      &:hover {
        color: $table-color;
        background-color: $hover-background;
        > th, > td {
          color: $table-color;
          background-color: $hover-background;
        }
      }
    }
  }
  .table-active {
    &:hover {
      background-color: $border-color;
      > th, > td {
        background-color: $border-color;
      }
    }
  }
}

// Buttons

.btn { color: $body-color; }
.btn-link { color: $link-color; }
.btn-default {
  color: $body-color;
  border-color: $border-color;
  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $body-color;
    background-color: darken($default-bg, 7.5%);
  }
}
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    color: color-yiq($value);
    border-color: darken($value, 10%);
    background-color: $value;
    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: color-yiq($value);
      border-color: darken($value, 10%);
      background-color: darken($value, 7.5%);
    }
  }
  .btn-outline-#{$color} {
    color: $value;
    border-color: $value;
    &:hover, &:focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: color-yiq($value);
      border-color: darken($value, 10%);
      background-color: $value;
    }
  }
}
.btn-outline-secondary, .btn-outline-light { color: $body-color; }

// Forms

.form-control {
  color: $body-color;
  background-color: $default-bg;
  border: 1px solid $border-color;
  &:focus {
    border: 1px solid $active-color;
  }
}
.form-control-plaintext { color: $body-color; }
.input-group-text {
  color: $body-color;
  background-color: $component-cap-bg;
  border: 1px solid $border-color;
}

// Cards

.card {
  background-color: $default-bg;
  border: 1px solid $border-color;
}
.card-header {
  background: $component-cap-bg;
  border-bottom: 1px solid $border-color;
}
.card-footer {
  background: $component-cap-bg;
  border-top: 1px solid $border-color;
}
@each $color, $value in $theme-colors {
  .card {
    &.bg-#{$color} {
      color: color-yiq($value);
      border: 1px solid darken($value, 10%);
      .card-header {
        background-color: darken($value, 5%);
        border-bottom: 1px solid darken($value, 10%);
      }
      .card-footer {
        background-color: darken($value, 5%);
        border-top: 1px solid darken($value, 10%);
      }
    }
    &.bg-outline-#{$color} {
      border: 1px solid $value;
      .card-header {
        color: color-yiq($value);
        background-color: $value;
        border-bottom: 1px solid $value;
      }
      .card-footer {
        color: color-yiq($value);
        background-color: $value;
        border-top: 1px solid $value;
      }
    }
  }
}

// Tooltips

@each $side in (top, right, bottom, left) {
  .tooltip.bs-tooltip-auto[x-placement^=#{$side}] .arrow::before, .tooltip.bs-tooltip-#{$side} .arrow::before {
    border-#{$side}-color: $border-color;
  }
}
.tooltip-inner {
  color: $body-color;
  background-color: $border-color;
}

// Badges

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    color: color-yiq($value);
    background-color: $value;
  }
}

// Modals

.modal-content {
  background-color: $default-bg;
  border: 1px solid $border-color;
}
.modal-header {
  border-bottom: 1px solid $border-color;
  background: $component-cap-bg;
}

// Alerts

.alert-default {
  color: $body-color;
  border-color: $border-color;
  .alert-link {
    color: $link-color;
  }
}
@each $color, $value in $theme-colors {
  .alert-#{$color} {
    $alert-color: color-level($value, 6);
    color: $alert-color;
    background-color: color-level($value, -10);
    border-color: color-level($value, -9);
    .alert-link {
      color: darken($alert-color, 10%);
    }
  }
}
.alert-secondary, .alert-light { border-color: $border-color; }

// Navs

.nav-tabs {
  .nav-link {
    &:hover, &:focus {
      border-color: $border-color;
      background-color: $default-bg;
    }
    &.disabled { color: $component-disabled-color; }
    &.active {
      color: $body-color;
      background-color: $default-bg;
      border-color: $border-color $border-color $default-bg;
      &:hover, &:focus { background-color: $default-bg; }
    }
  }
}

// Navbar

.navbar {
  background-color: $default-bg;
  border-bottom: 1px solid $border-color;
}
.navbar-brand { color: $body-color !important; }

// Dropdowns

.dropdown-menu {
  color: $body-color;
  background-color: $default-bg;
  border: 1px solid $border-color;
}
.dropdown-item {
  color: $body-color;
  &:hover, &:focus {
    color: $body-color;
    background-color: $component-hover-bg;
  }
  &.active, &:active {
    color: $component-active-color;
    background-color: $component-active-bg;
  }
  &.disabled, &:disabled { color: $component-disabled-color; }
}

// Pagination

.page-link, .page-text {
  color: $body-color;
  background-color: $default-bg;
  border: 1px solid $border-color;
}
.page-link:hover {
  background-color: darken($default-bg, 7.5%);
  cursor: pointer;
}
.page-item {
  &.active .page-link {
    color: $component-active-color;
    background-color: $component-active-bg;
    border-color: $component-active-bg;
    &:hover { cursor: default; }
  }
  &.disabled .page-link {
    color: $component-disabled-color;
    background-color: transparent;
    border: 1px solid $border-color;
  }
  >.form-control {
    border: 1px solid $border-color;
  }
}

// List group

.list-group-item {
  background-color: $default-bg;
  border: 1px solid $border-color;
}
.list-group-item-action {
  color: $body-color;
  &:hover, &:focus {
    color: $body-color;
    background-color: $component-hover-bg;
  }
  &.active {
    color: $component-active-color;
    background-color: $component-active-bg;
  }
  &.disabled { color: $component-disabled-color; }
}
.list-group-flush {
  .list-group-item {
    border-right: 0;
    border-left: 0;
  }
}
@each $color, $value in $theme-colors {
  $list-bg-color: color-level($value, -9);
  $list-color: color-level($value, 6);
  .list-group-item-#{$color} {
    color: $list-color;
    background-color: $list-bg-color;
    &.list-group-item-action {
      &:hover, &:focus {
        color: $list-color;
        background-color: darken($list-bg-color, 5%);
      }
      &.active {
        background-color: $list-color;
        border-color: $list-color;
      }
    }
  }
}

// Breadcrumbs

.breadcrumb {
  background-color: $default-bg;
  border-bottom: 1px solid $border-color;
  .breadcrumb-item {
    &:before { border-left: 1.5rem solid $border-color; }
    &:after { border-left: 1.5rem solid $default-bg; }
  }
}

// Close

.close { color: $body-color; }

// Code

pre {
  color: $body-color;
  code {
    border: none;
    border-radius: none;
    padding: 0;
  }
}
code {
  color: $body-color;
  border: 1px solid $border-color;
  border-radius: .25rem;
  padding: .125rem;
}

// Utilities

.border { border: 1px solid $border-color !important; }
@each $side in (top, right, bottom, left) {
  .border-#{$side} {
    border-#{$side}: 1px solid $border-color !important;
  }
}

@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: $value !important;
  }
}

.c3 {
  path, .tick line { stroke: $border-color; }
  .tick text, .c3-axis text, .c3-legend-item text, .c3-chart-arcs-title { fill: $body-color; }
  .c3-tooltip {
    background-color: $body-bg;
    tr { border: 1px solid $border-color; }
    th {
      color: $body-color;
      background-color: $component-cap-bg;
    }
    td {
      background-color: $body-bg;
      border-left: 1px dotted $border-color;
    }
  }
}

.roxie-datepicker-portal {
  .roxie-datepicker-cell {
    &:hover, &:focus {
      color: $body-color;
      background-color: $component-hover-bg;
    }
    &.active {
      color: $component-active-color;
      background-color: $component-active-bg;
    }
  }
}

.sidebar-nav {
  .nav-link {
    color: $body-color;
    &:hover, &:focus {
      color: $body-color;
      background-color: $component-hover-bg;
    }
    &.active {
      color: $component-active-color;
      background-color: $component-active-bg;
    }
    &.disabled { color: $component-disabled-color; }
  }
}