.cursor-pointer { cursor: pointer; }
.no-scroll { overflow: hidden; }
.auto-scroll { overflow: auto; }
.auto-scroll-x { overflow-x: auto; }
.auto-scroll-y { overflow-y: auto; }
.fullscreen { @include fit(); }

@each $side in (top, right, bottom, left) {
  .border-#{$side}-0 {
    border-#{$side}: 0 !important;
  }
}

.dropdown-item-list {
  max-height: 12rem;
  overflow-y: auto;
}
.dropdown.input-group {
  .dropdown-menu {
    transform: translate3d(0px, 35px, 0px) !important;
    width: 100%;
  }
}

.roxie-datepicker {
  .dropdown-toggle {
    &:after {
      content: none;
    }
  }
}
.roxie-datepicker-portal {
  width: calc(1.75rem * 7);
  roxie-datepicker-title {
    height: 1.75rem;
  }
  .roxie-datepicker-cell {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.page-text {
  position: relative;
  display: block;
  padding: $pagination-padding-y $pagination-padding-x;
  margin-left: -1px;
  line-height: 1.25;
}

.page-item {
  >.page-link, >.page-text {
    height: 2rem;
  }
  >.form-control {
    position: relative;
    display: block;
    padding: $pagination-padding-y 0;
    margin-left: -1px;
    line-height: 1.25;
    width: 3rem;
    height: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.sidebar-nav {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  .nav-title {
    padding: .5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .nav-dropdown-items {
    flex-flow: column;
    .nav-link {
      padding-left: 2.5rem;
    }
  }
}