.cursor-pointer { cursor: pointer; }
.no-scroll { overflow: hidden; }
.auto-scroll { overflow: auto; }
.auto-scroll-x { overflow-x: auto; }
.auto-scroll-y { overflow-y: auto; }
.fullscreen { @include fit(); }

@each $side in (top, right, bottom, left) {
  .border-#{$side}-0 {
    border-#{$side}: 0 !important;
  }
}

.btn-default {
  border-color: $border-color;
  color: $body-color;
  background-color: $body-bg;
}

@each $color, $value in $theme-colors {
  .card {
    &.bg-outline-#{$color} {
      border: $card-border-width solid darken($value, 10%);
      .card-header {
        border-bottom: $card-border-width solid darken($value, 10%);
        color: color-yiq($value);
        background-color: $value;
      }
      .card-footer {
        border-top: $card-border-width solid darken($value, 10%);
        color: color-yiq($value);
        background-color: $value;
      }
    }
  }
}