.cursor-pointer { cursor: pointer; }
.no-scroll { overflow: hidden; }
.auto-scroll { overflow: auto; }
.auto-scroll-x { overflow-x: auto; }
.auto-scroll-y { overflow-y: auto; }
.fullscreen { @include fit(); }

@each $side in (top, right, bottom, left) {
  .border-#{$side}-0 {
    border-#{$side}: 0 !important;
  }
}

.roxie-datepicker {
  .dropdown-toggle {
    &:after {
      content: none;
    }
  }
}
.roxie-datepicker-portal {
  width: calc(1.75rem * 7);
  roxie-datepicker-title {
    height: 1.75rem;
  }
  .roxie-datepicker-cell {
    width: 1.75rem;
    height: 1.75rem;
  }
}