// Bootstrap variable overrides

// Paragraphs

$paragraph-margin-bottom: .5rem;

// Grid columns

$grid-gutter-width: 2rem;

// Typography

$font-size-base: .875rem;
$headings-margin-bottom: 1rem;

// Breadcrumbs

$breadcrumb-padding-y: .5rem;
$breadcrumb-padding-x: 1rem;
$breadcrumb-margin-bottom: 0;
$breadcrumb-border-radius: 0;

// Cards

$card-spacer-y: .5rem;
$card-spacer-x: 1rem;

// List group

$list-group-item-padding-y: .5rem;
$list-group-item-padding-x: 1rem;